.profil{
   .zone_main_profil{
       h1{
           color:$primary_color_3;
           padding-top:15px;
       }
       .zone_informations{
           background-color: $primary_color_4;
           border-radius: 7px;
           padding: 3% 8%;
           margin-top: 20px;
           margin-bottom: 20px;
           .info_personel{
               @include flex();
            p{
                padding-bottom: 30px;
                font-size: 1.1rem;
            }
           }
           .btn_logout{
            text-align: -webkit-right;
            button:hover{
                @include button(-5px -5px 0px 1px black);
            }
           }
       }
   } 
   .zone_student{
        h1{
            color: $primary_color_1;
        }
        h2{
            font-family: 'poping-Semibold';
        }
        .all_note{
            display: grid;
            grid-template-columns: repeat(auto-fit ,minmax(150px,1fr));
            justify-items: center;
            margin-top: 10px;
            .card_notes{
                border: 1px solid #C2AE2B;
                background-color: $primary_color_4;
                border-radius: 7px;
                text-align: center;
                width: 140px;
                height: 120px;
                padding-top: 9px;
                margin-bottom: 10px;
            }
        }
   }
   
   .zone_formateur{
       text-align: center;
       .btn_add{
            text-align: -webkit-center;
            button:hover{
                @include button(-5px -5px 0px 1px white);
            }
       }
       .space_name_student,.space_student{
        padding: 12px;
        border-radius: 9px;
       }
       
       .space_name_student{
        background-color: black;
        color:$primary_color_1;
        .titre_table{
            th{
                padding:0px 26px;
                font-family: 'poping-Medium';
                font-size: 16px;

            }
        }
       }
       .space_student{
        background-color: $primary_color_4;
        color:$primary_color_2;
        margin:5px 0px;
        .student_table{
            td{
                padding:0px 32px;
                font-family: 'poping-Medium';
                font-size: 16px;
                .crud{
                    display: flex;
                    svg{
                        fill: $primary_color_2;
                        margin:0px 10px;
                        cursor: pointer;
                        &:hover{
                            fill:$primary_color_1;
                        }
                    }
                }
            }
        }
       }

   }


   @media screen and (max-width: 768px) {
    h1{
        font-size: 1.5rem;
    }
    .zone_main_profil{
        .zone_informations{
            p{
                font-size: 0.9rem !important;
            }
            button{
                padding:11px 30px;
            }
        }
    }
    
   }
   .zone_student{
    .all_note{
        .card_notes{
            width: 100px;
            h2{
                font-size: 1.4rem;
            }
        }
    }
}
@media screen and (max-width: 560px){
        text-align: center;

    .zone_main_profil{
        .zone_informations{
            .info_personel{
                display: block;
            }
        }
    }
}
}