
  
/* index-style */
.mon-conteneur{
    display: flex;
  }
  
  .box-contenu-acceuil{
   width: 80% ;
   margin-left: 1%;
  }
  .contenu-acceuil{
    padding: 8%  ;
  
  }
  .conteneur-haut{
    display: flex;
  
  }
  
  .image-acceuil{
    width: 280%;
  }
  .titre-description{
    font-family: 'poping-Semibold';
    font-size: 29px;
    line-height: 43px;
    color: #C2AE2B;
    text-align: left;
    padding-bottom: 30px;
  
  }
  .p-description{
    color: #A8A8A5;
    line-height: 29px;
    font-family: 'poping-regular';
    font-size: 19px;
    text-align: left;
    margin-bottom:40px ;
  }
  
  .btn-acceuil{
    margin-left: 28%;
  
  }
  .titre-gallery{
    font-family: 'poping-Semibold';
    font-size: 29px;
    line-height: 43px;
    color: #C2AE2B;
    text-align: left;
    margin: 70px 0 50px;
  }
  .images{
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 1600px) {
    .titre-description{
      font-size: 29px;
      line-height: 43px;
      text-align: left;
      padding-bottom: 30px;
    
    }
    .p-description{
      line-height: 24px;
      font-size: 17px;
      text-align: left;
      margin-bottom:40px ;
    }
    .images{
      flex-wrap: wrap;
      margin-left: 18%;
      justify-content: space-between;
  
      
    }
    img{
  
      margin-bottom: 29px;
    }
    
  }
   
  @media screen and (max-width: 1600px) {
    .conteneur-haut{
      display: block;
    
    }
  
  
  }
  @media screen and (max-width: 770px) {
    .titre-description{
      
      text-align: center;
    }
    .p-description{
      text-align: center;
      
    }
    .titre-gallery{
      text-align: center;
    
    }
    .image-acceuil{
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
  
    }
  }
    @media screen and (max-width: 560px) {
      .mon-conteneur {
        display: block;
      }
      .box-contenu-acceuil{
        width: 100% ;
        margin-left: 1%;
       }
    }
  