* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

input,
textarea:focus {
  outline: 0;
  display: block;
  background-color: white;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: 0;
}

body {
  padding: 3% 5%;
  background-color: black;
}

.haeder_main {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 560px) {
  .haeder_main {
    display: block;
  }
}

main {
  background: #2B2F33;
  width: 80%;
}

@media screen and (max-width: 768px) {
  main {
    overflow: scroll;
    height: 600px;
  }
}

@media screen and (max-width: 560px) {
  main {
    width: 100%;
    margin-top: 5px;
  }
}

main, footer {
  border-radius: 9px;
}

.container {
  padding: 0% 3%;
}

@font-face {
  font-family: 'poping-Regular';
  src: url(../font/poping/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poping-Semibold';
  src: url(../font/poping/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'poping-Medium';
  src: url(../font/poping/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poping-Bold';
  src: url(../font/poping/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'poping-Light';
  src: url(../font/poping/Poppins-Light.ttf);
}

* {
  font-style: normal;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'poping-Regular';
  font-size: 18px;
  color: #C2AE2B;
  font-weight: 300;
  cursor: pointer;
}

p {
  display: block;
  color: #2B2F33;
  font-family: 'poping-Regular';
}

.form_titre {
  font-family: 'poping-Semibold';
  font-size: 25px;
  color: #C2AE2B;
  text-align: center;
  padding-bottom: 30px;
}

button {
  display: block;
  background-color: #C2AE2B;
  padding: 18px 50px;
  color: #2B2F33;
  font-family: 'poping-Light';
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

input {
  width: 90%;
  height: 50Px;
  border-radius: 7px;
  background-color: white;
  margin-bottom: 35px;
  border: 1px solid black;
}

::placeholder {
  padding-left: 10px;
  font-size: 12px;
  font-family: 'poping-Regular';
  color: #A8A8A5;
}

header {
  border: 1px solid black;
  width: 19%;
  background: #2B2F33;
  border-radius: 9px;
}

header .navbar .logo, header .navbar .item_menu {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding: 15px 20px;
}

header .navbar .item_menu:hover {
  background-color: rgba(250, 239, 79, 0.4);
  border-right: 7px solid #C2AE2B;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

header .navbar .item_menu:hover a, header .navbar .item_menu:hover svg {
  color: white;
  fill: white;
}

header .navbar h1 {
  color: #C2AE2B;
  font-family: 'poping-Semibold';
  font-size: 30px;
}

header .navbar svg {
  fill: #C2AE2B;
  width: 16%;
  height: auto;
}

header .navbar img {
  width: 20%;
}

header .navbar a, header .navbar h1 {
  padding-left: 20px;
}

header .navbar .menu {
  padding-top: 80px;
}

header .navbar .FAQ {
  padding-top: 100px;
}

@media screen and (max-width: 1280px) {
  header .navbar .logo {
    display: block;
    text-align: center;
  }
  header .navbar .logo h1 {
    font-size: 25px;
    padding-left: 0px;
  }
  header .navbar .logo svg {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 26% !important;
  }
}

@media screen and (max-width: 560px) {
  header {
    width: 100% !important;
  }
  header .navbar .logo svg {
    width: 20%;
  }
  header .navbar .menu_FAQ {
    display: flex;
  }
  header .navbar .menu_FAQ .menu {
    padding-top: 0px;
    display: flex;
  }
  header .navbar .menu_FAQ svg {
    width: 100%;
  }
  header .navbar a {
    display: none;
  }
  header .navbar .FAQ {
    padding-top: 0px;
  }
}

footer {
  background: #2B2F33;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 0% 2%;
}

footer p {
  color: #A8A8A5;
  align-self: center;
  font-family: 'poping-Regular';
  font-size: 15px;
}

footer .footer_btn {
  text-align: -webkit-center;
}

footer .footer_btn button:hover {
  box-shadow: -5px -5px 0px 1px white;
}

@media screen and (max-width: 560px) {
  footer {
    display: block;
    padding: 5% 0%;
    text-align: center;
  }
  footer p {
    padding-bottom: 20px;
  }
}

.login .zone_main {
  display: flex;
  justify-content: space-between;
}

.login .zone_main .animation_img img {
  width: 75%;
}

.login .zone_main form {
  background-color: #E3E2E2;
  border-radius: 7px;
  width: 40%;
  height: 550px;
  padding: 5% 2%;
  margin-top: 20px;
}

.login .zone_main form .checkout {
  display: flex;
  align-items: center;
}

.login .zone_main form .checkout .input_data {
  width: 7%;
  margin-bottom: 0px;
}

.login .zone_main form .checkout p {
  padding-left: 10px;
}

.login .zone_main form .btn_form {
  text-align: -webkit-right;
}

.login .zone_main form .btn_form button {
  padding: 11px 43px;
}

.login .zone_main form .btn_form button:hover {
  box-shadow: -5px -5px 0px 1px black;
}

.login .zone_main p {
  text-align: end;
}

@media screen and (max-width: 1280px) {
  .login .zone_main .animation_img img {
    width: 90%;
  }
  .login .zone_main form {
    width: 65%;
    height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .login .zone_main {
    display: grid;
  }
  .login .zone_main .animation_img {
    order: 1;
  }
  .login .zone_main .animation_img img {
    width: 100%;
  }
  .login .zone_main form {
    order: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 560px) {
  .login .zone_main .animation_img img {
    width: 100%;
  }
  .login .zone_main form {
    width: 90%;
    height: 450px;
  }
}
