@font-face{
    font-family: 'poping-Regular';
    src:url(../font/poping/Poppins-Regular.ttf);
}
@font-face{
    font-family: 'poping-Semibold';
    src:url(../font/poping/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: 'poping-Medium';
    src:url(../font/poping/Poppins-Medium.ttf);
}
@font-face{
    font-family: 'poping-Bold';
    src:url(../font/poping/Poppins-Bold.ttf);
}
@font-face{
    font-family: 'poping-Light';
    src:url(../font/poping/Poppins-Light.ttf);
}

*{
    font-style: normal;
    padding: 0;
    margin: 0 ;
}

    a{
        text-decoration: none;
        font-family: 'poping-Regular';
        font-size: 18px;
        color: $primary_color_1;
        font-weight: 300;
        cursor: pointer;
    }

    p{
        display: block;
        color: $primary_color_2;
        font-family: 'poping-Regular';

    }
    .form_titre{
        font-family: 'poping-Semibold';
        font-size: 25px;
        color: $primary_color_1;
        text-align: center;
        padding-bottom: 30px;
    }