@mixin flex() {
	display: flex;
	justify-content: space-between;
}
@mixin background() {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@mixin button($shadow) {
	box-shadow: $shadow;
}
@mixin centred() {
	margin-left: auto;
	margin-right: auto;
}