button{
    background-color: $primary_color_1;
    padding: 5px 50px;
    color:  $primary_color_2;
    font-family: 'poping-Light';
    cursor: pointer;
    border-radius: 50px;
    font-size: 17px;
    margin-bottom: 20px;
    &:hover{
        background-color: $primary_color_2;
        color: $primary_color_1;
    }
}