button{
    display: block;
    background-color: $primary_color_1;
    padding: 18px 50px;
    color:  $primary_color_2;
    font-family: 'poping-Light';
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;


}
html{
    scroll-behavior: smooth;
}